@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: black;
    font-family: 'inter';
}



.container {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    
    
}

img {
    border-radius: 100px;
}

.nome {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.cidade {
    text-align: center;
    color: hsl(75, 94%, 57%);
    
}

.profissao {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.link {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    

}